<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.zbigz.ZBigZServiceImpl"
        id="zbigz.com" vendor="tong2shot" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?m\.zbigz\.com/file/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="zbigz.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="zbigz.com" path="/" type="code"/>
    </runtime>
</plugin>
