<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.zippyshare.ZippyShareServiceImpl"
        id="zippyshare.com" vendor="Vity+ntoskrnl+tonyk+CapCap" version="1.14.10">
    <attributes>
        <attribute id="urlRegex" value="http://(www\d*\.)?zippyshare\.com/(v/|view\.jsp\?).+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="zippyshare.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com"
                plugin-version="1.0.5" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="zippyshare.com" path="/" type="code"/>
    </runtime>
</plugin>
