<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.radiouolcom.RadioUolComServiceImpl"
        id="radio.uol.com.br" vendor="tong2shot" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?radio\.uol\.com\.br/(?:#/)?(?:programa|letras-e-musicas|musica|album)/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="radio.uol.com.br"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.11"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="radio.uol.com.br" path="/" type="code"/>
    </runtime>
</plugin>