<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.kiwikz.KiwiKzServiceImpl"
        id="kiwi.kz" vendor="tong2shot" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?kiwi\.kz/watch/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="kiwi.kz"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="kiwi.kz" path="/" type="code"/>
    </runtime>
</plugin>