<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.imagevenue.ImagevenueServiceImpl"
        id="imagevenue.com" vendor="ntoskrnl" version="1.0.6">
    <attributes>
        <attribute id="urlRegex" value="https?://img[0-9]+\.imagevenue\.com/(img|view)\.php\?(.*?)image=.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="imagevenue.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="imagevenue.com" path="/" type="code"/>
    </runtime>
</plugin>
