<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.gigapeta.GigaPetaServiceImpl" id="gigapeta.com" vendor="Thumb" version="1.0.9">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?gigapeta\.com/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="gigapeta.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="gigapeta.com" path="/" type="code"/>
    </runtime>
</plugin>
