<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="uloz.to" version="1.0.13" vendor="Lukiz+JPEXS"
        class="cz.vity.freerapid.plugins.services.ulozto.UlozToServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?(uloz\.to|ulozto\.net|ulozto\.cz|ulozto\.sk)/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="uloz.to"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="uloz.to" path="/" type="code"/>
    </runtime>
</plugin>