<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="uloz.to" version="1.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.ulozto.UlozToServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?uloz\.to/.*"/>
        <attribute id="minver" value="0.7"/>
        <attribute id="maxver" value="0.799"/>
        <attribute id="services" value="uloz.to"/>
    </attributes>

    <runtime>
        <library id="uloz.to" path="/" type="code"/>
    </runtime>
</plugin>