<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="odsiebie.com" version="1.0" vendor="Eterad+Vity"
        class="cz.vity.freerapid.plugins.services.odsiebie.OdSiebieServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?odsiebie\.com/pokaz/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="odsiebie.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="odsiebie.com" path="/" type="code"/>
    </runtime>
</plugin>