<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.sharerapid.ShareRapidServiceImpl" id="share-rapid" vendor="Smisek"
        version="1.0.11">
    <attributes>
        <attribute id="urlRegex"
                   value="http://(www\.)?(share-rapid\.com|e-stahuj\.cz|rapids\.cz|share-rapid\.biz|sharerapid\.biz|jirkasekyrka\.com|kadzet\.com|mediatack\.cz|premium-rapidshare\.cz|rapidshare-premium\.cz|share-credit\.cz|share-free\.cz|share-ms\.net|share-rapid\.cz|share-rapid\.info|share-rapid\.net|share-rapid\.sk|sharerapid\.net|sharerapid\.cz|sharerapid\.org|strelci\.net|universal-share\.com)/stahuj/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services"
                   value="share-rapid.com biz cz info net sk; sharerapid.z biz net org; e-stahuj.cz jirkasekyrka.com kadzet.com mediatack.cz premium-rapidshare.cz rapidshare-premium.cz rapids.cz share-credit.cz share-free.cz share-ms.net strelci.net universal-share.com"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="3"/>
    </attributes>

    <runtime>
        <library id="share-rapid.com" path="/" type="code"/>
    </runtime>
</plugin>
