<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.canalplus.CanalPlusServiceImpl"
        id="canalplus.fr" vendor="tong2shot" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?canalplus\.fr/.+?vid=\d+.*"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="canalplus.fr"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="adobehds" plugin-version="1.0.5"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="canalplus.fr" path="/" type="code"/>
    </runtime>
</plugin>
