<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="megashares.com" version="1.0.2" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.megashares.MegaSharesServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://d\d\d\.megashares\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="megashares.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="megashares.com" path="/" type="code"/>
    </runtime>
</plugin>