<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.rapidgator.RapidGatorServiceImpl"
        id="rapidgator.net" vendor="tong2shot+birchie" version="1.1.5">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?rapidgator\.net/file/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="rapidgator.net"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="solvemediacaptcha"
                plugin-version="1.0.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="rapidgator.net" path="/" type="code"/>

    </runtime>
</plugin>