<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="celebsxtreme.com" version="1.0.0" vendor="tong2shot"
        class="cz.vity.freerapid.plugins.services.celebsxtreme.CelebsXtremeServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(?:www\.)?celebsxtreme\.com/wp-content/uploads/\d+/\d+/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="celebsxtreme.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="celebsxtreme.com" path="/" type="code"/>
    </runtime>
</plugin>