<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="picfoco.com" version="1.0.0" vendor="tong2shot"
        class="cz.vity.freerapid.plugins.services.picfoco.PicfocoServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?img.*?\.picfoco\.com/img\.php.*?"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="picfoco.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="picfoco.com" path="/" type="code"/>
    </runtime>
</plugin>