<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ifile.it_login" version="0.7.13" vendor="JPEXS"
        class="cz.vity.freerapid.plugins.services.ifile_login.IFileServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?ifile\.it/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="ifile.it"/>
        <attribute id="maxDownloads" value="2"/>
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import plugin-id="recaptcha.com" plugin-version="1.0" match="greater-or-equal"/>
    </requires>
    <runtime>
        <library id="ifile.it" path="/" type="code"/>
    </runtime>
</plugin>