<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="netload.in" version="1.0.5" vendor="Lukiz+JPEXS"
        class="cz.vity.freerapid.plugins.services.netloadin.NetloadInShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?netload\.in/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="netload.in"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>


    <runtime>
        <library id="netload.in" path="/" type="code"/>
    </runtime>
</plugin>