<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.netloadin.NetloadInShareServiceImpl" id="netload.in"
        vendor="Lukiz+JPEXS+tonyk+birchie+Abinash Bishoyi" version="1.0.18">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?netload\.in/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="netload.in"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="netload.in" path="/" type="code"/>
    </runtime>
</plugin>
