<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="filefactory.com" version="1.0.1"
        class="cz.vity.freerapid.plugins.services.filefactory.FileFactoryShareServiceImpl">
    <runtime>
        <library id="filefactory.com" path="/" type="code"/>
    </runtime>
</plugin>