<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.czshare.CzshareServiceImpl"
        id="czshare.com" vendor="Smisek+tong2shot" version="1.1.7">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?(czshare\.(com|cz)|sdilej\.cz)/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="sdilej.cz czshare.com cz"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="czshare.com" path="/" type="code"/>
    </runtime>
</plugin>
