<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="container" version="1.0.3" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.container.ContainerPluginImpl">
    <attributes>
        <attribute id="libraryPlugin" value="true"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="container"/>
    </attributes>

    <runtime>
        <library id="container" path="/" type="code"/>
    </runtime>
</plugin>