<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.filestoreua.FileStoreUaServiceImpl" id="filestore.com.ua" vendor="Saikek" version="0.0.9">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filestore\.com\.ua/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="filestore.com.ua"/>
        <attribute id="maxDownloads" value="8"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="filestore.com.ua" path="/" type="code"/>
    </runtime>
</plugin>
