<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="imzupload.com" version="1.0.0" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.imzupload.ImzUploadServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?imzupload\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="imzupload.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="3"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="imzupload.com" path="/" type="code"/>
    </runtime>
</plugin>