<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="indowebster.com" version="1.2.6" vendor="Alex+JPEXS+zid+tong2shot"
        class="cz.vity.freerapid.plugins.services.indowebster.IndowebsterServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(?:www\.|files\.)?indowebster\.com(?:/download)?/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="indowebster.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="indowebster.com" path="/" type="code"/>
    </runtime>
</plugin>