<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.h2porn.H2PornServiceImpl"
        id="h2porn.com" vendor="birchie" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?h2porn\.com/videos/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="h2porn.com"/>
        <attribute id="maxDownloads" value="5"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="h2porn.com" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>