<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.share4web.Share4WebServiceImpl"
        id="share4web.com" vendor="tong2shot" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?share4web\.com/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="share4web.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="share4web.com" path="/" type="code"/>
    </runtime>
</plugin>