<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.filejungle.FileJungleServiceImpl"
        id="filejungle.com" vendor="CrazyCoder" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filejungle\.com/f/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="filejungle.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com"
                plugin-version="1.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="filejungle.com" path="/" type="code"/>
    </runtime>
</plugin>
