<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.f2h_co_il.F2h_co_ilServiceImpl"
        id="f2h.co.il" vendor="birchie" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?f2h\.(nana10\.)?co\.il/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="f2h.co.il"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="f2h.co.il" path="/" type="code"/>
    </runtime>
</plugin>