<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="upnito.sk" version="1.0" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.upnito.UpnitoShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?upnito\.sk/download.*"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.809"/>
        <attribute id="services" value="upnito.sk"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="upnito.sk" path="/" type="code"/>
    </runtime>
</plugin>