<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="iskladka.cz" version="1.0.0"
        class="cz.vity.freerapid.plugins.services.iskladka.IskladkaServiceImpl">
    <runtime>
        <library id="iskladka.cz" path="/" type="code"/>
    </runtime>
</plugin>