<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="flyupload.com" version="1.0.0" vendor="Vity+Lukiz"
        class="cz.vity.freerapid.plugins.services.flyupload.FlyUploadServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?(flyupload.)?flyupload\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="flyupload.com"/>
        <attribute id="maxDownloads" value="8"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="flyupload.com" path="/" type="code"/>
    </runtime>
</plugin>