<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.fsx_premium.FsxServiceImpl"
        id="fsx.hu_premium" vendor="Hosszu" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?fsx\.hu/.+|http://s\d\.fsx\.hu/.+"/>
        <attribute id="minver" value="0.851"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="fsx.hu"/>
        <!-- Max count of parallel downloads is 1, but the speed is 800 MB/s -->
        <attribute id="maxDownloads" value="1"/>
        <!-- This is a premium version -->
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="resumeSupported" value="true"/>

        <attribute id="faviconImage" value="resources/fsx_premium.png"/>
    </attributes>

    <runtime>
        <library id="fsx_premium.hu" path="/" type="code"/>
    </runtime>
</plugin>