<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="4us.to" version="1.0.0" vendor="Javi"
        class="cz.vity.freerapid.plugins.services.forus.ForusServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?4us\.to/download.php.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="4us.to"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="1"/>
    </attributes>

    <runtime>
        <library id="4us.to" path="/" type="code"/>
    </runtime>
</plugin>