<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="hellshare.com_full" version="1.0.2" vendor="Smisek+Jpexs"
        class="cz.vity.freerapid.plugins.services.hellshare_full.HellshareServiceImpl">
    <attributes>
        <attribute id="urlRegex"
                   value="http://(www\.)?hellshare\.com/.+|http://(download\.[a-z]+\.)?hellshare\.com/.+|http://download\.hellshare\.hu/.+"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="hellshare.com"/>
        <!-- ID pluginu, pro ktere je to premium -->
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hellshare.com" path="/" type="code"/>
    </runtime>
</plugin>