<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.LibraryPlugin"
        id="mp4parser" vendor="tong2shot" version="1.0.1">
<attributes>
        <attribute id="libraryPlugin" value="true"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="mp4parser"/>
    </attributes>

    <runtime>
        <library id="mp4parser" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>