<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="badongo.com" version="0.5.3" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.badongo.BadongoServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?badongo\.com/([a-zA-Z]{2}/)?(file|pic|vid)/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="badongo.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="badongo.com" path="/" type="code"/>
    </runtime>
</plugin>