<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="shareflare.net" version="1.0.3" vendor="RickCL+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.shareflare.ShareflareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?shareflare\.net/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="shareflare.net"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="shareflare.net" path="/" type="code"/>
    </runtime>
</plugin>