<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.itebooks.ItEbooksServiceImpl"
        id="it-ebooks.info" vendor="tong2shot" version="1.0.2">
    <attributes>
        <attribute id="urlRegex"
                   value="http://(www\.)?it-ebooks\.info/book/\d+.*|http://feedproxy\.google\.com/~r/IT-eBooks/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="it-ebooks.info"/>
        <attribute id="maxDownloads" value="5"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="it-ebooks.info" path="/" type="code"/>
    </runtime>
</plugin>