<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.thewb.TheWbServiceImpl"
        id="thewb.com" vendor="ntoskrnl" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?thewb\.com/shows/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="thewb.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.4"
                reverse-lookup="false"/>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="tunlr.net" plugin-version="1.0.0"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="thewb.com" path="/" type="code"/>
    </runtime>
</plugin>