<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="alfa-files.com" version="1.0.2" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.alfafiles.AlfaFilesServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?alfa-files\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="alfa-files.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="alfa-files.com" path="/" type="code"/>
    </runtime>
</plugin>