<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.LibraryPlugin"
        id="xfileplayer" vendor="birchie" version="1.0.1">
    <attributes>
        <attribute id="libraryPlugin" value="true"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="xfileplayer"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="xfilesharing"
                plugin-version="1.0.15" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="xfileplayer" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>