<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.fileflyer.FileFlyerServiceImpl" id="fileflyer.com" vendor="Kajda" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?fileflyer\.com/view/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="fileflyer.com"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="fileflyer.com" path="/" type="code"/>
    </runtime>
</plugin>
