<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="biggerupload.com" version="1.0" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.biggerupload.BiggerUploadServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?biggerupload\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="biggerupload.com"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="biggerupload.com" path="/" type="code"/>
    </runtime>
</plugin>