<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="youtube.com" version="0.8.0" vendor="Kajda+JPEXS+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.youtube.YouTubeServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?youtube\.com/(watch|user/).+"/>
        <attribute id="minver" value="0.849"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="youtube.com"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import plugin-id="rtmp" plugin-version="2.0.0" match="greater-or-equal"/>
    </requires>
    <runtime>
        <library id="youtube.com" path="/" type="code"/>
    </runtime>
</plugin>