<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.paid4share.Paid4ShareServiceImpl" id="paid4share.com" vendor="Vity" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?paid4share\.(com|net)/file/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="paid4share.com"/>
        <attribute id="maxDownloads" value="4"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="paid4share.com" path="/" type="code"/>
    </runtime>
</plugin>
