<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.uploadhere.UploadhereServiceImpl"
        id="uploadhere.com" vendor="Heend" version="0.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?uploadhere\.com/.+"/>
        <attribute id="minver" value="0.851"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="uploadhere.com"/>
        <attribute id="maxDownloads" value="8"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="uploadhere.com" path="/" type="code"/>
    </runtime>
</plugin>
