<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="zshare.net" version="0.1.0" vendor="Prathap Reddy"
        class="cz.vity.freerapid.plugins.services.zshare.ZShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?zshare\.net/download.*"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="zshare.net"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="zshare.net" path="/" type="code"/>
    </runtime>
</plugin>
