<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="sharingmatrix.com" version="0.6.9" vendor="Kajda+JPEXS+RickCL+codeboy2k"
        class="cz.vity.freerapid.plugins.services.sharingmatrix.SharingMatrixServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\d?\.)?sharingmatrix\.com/file/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="sharingmatrix.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="sharingmatrix.com" path="/" type="code"/>
    </runtime>
</plugin>