<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.rtlnow.RtlNowServiceImpl"
        id="rtl-now.rtl.de" vendor="ntoskrnl" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://rtl\-now\.rtl\.de/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="rtl-now.rtl.de"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.3"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="rtl-now.rtl.de" path="/" type="code"/>
    </runtime>
</plugin>