<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.musicmp3spb.MusicMp3SpbServiceImpl"
        id="musicmp3spb.org" vendor="birchie" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?musicmp3spb\.org/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="musicmp3spb.org"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="musicmp3spb.org" path="/" type="code"/>
    </runtime>
</plugin>