<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="serienjunkies.org" version="1.1.0" vendor="benpicco+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.serienjunkies.SerienjunkiesServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://download\.serienjunkies\.org/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="serienjunkies.org"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
        <attribute id="removeCompleted" value="true"/>
    </attributes>

    <runtime>
        <library id="serienjunkies.org" path="/" type="code"/>
    </runtime>
</plugin>
