<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="dailymotion.com" version="0.2" vendor="Ramsestom+JPEXS"
        class="cz.vity.freerapid.plugins.services.dailymotion.DailymotionServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?dailymotion\.com\/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="dailymotion.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="dailymotion.com" path="/" type="code"/>
    </runtime>
</plugin>
