<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="subory.sk" version="0.5.1" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.subory.SuboryServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?subory\.sk/download/[0-9]+/.+"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="subory.sk"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="subory.sk" path="/" type="code"/>
    </runtime>
</plugin>