<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.multishare_org.MultiShare_orgServiceImpl"
        id="multishare.org" vendor="birchie" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?multishare\.org/file/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="multishare.org"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="multishare.org" path="/" type="code"/>
    </runtime>
</plugin>