<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.easysharews.EasyShareWSServiceImpl" id="easyshare_ws" vendor="Thumb" version="1.0.4">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?easyshare\.ws/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="easyshare_ws"/>
    </attributes>

    <runtime>
        <library id="easyshare_ws" path="/" type="code"/>
    </runtime>
</plugin>
