<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="easyshare_ws" version="1.0.1" vendor="Thumb"
        class="cz.vity.freerapid.plugins.services.easysharews.EasyShareWSServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?easyshare\.ws/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="easyshare_ws"/>
    </attributes>

    <runtime>
        <library id="easyshare_ws" path="/" type="code"/>
    </runtime>
</plugin>
