<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ziddu.com" version="0.9.2" vendor="Alex"
        class="cz.vity.freerapid.plugins.services.ziddu.ZidduShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?ziddu\.com/download.*"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="ziddu.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="ziddu.com" path="/" type="code"/>
    </runtime>
</plugin>
