<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.yleareena.YleAreenaServiceImpl"
        id="areena.yle.fi" vendor="ntoskrnl" version="2.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(areena|arenan)\.yle\.fi/(tv|radio)/\d+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="areena.yle.fi"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.2"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="areena.yle.fi" path="/" type="code"/>
    </runtime>
</plugin>
