<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.tv4play.Tv4PlayServiceImpl"
        id="tv4play.se" vendor="ntoskrnl" version="2.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?tv4play\.se/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="tv4play.se"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="adobehds" plugin-version="1.0.3"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="tv4play.se" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>