<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="secured.in" version="0.2" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.securedin.SecuredinServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://secured.in/[\d|\w|-]+.html"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="secured.in"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="secured.in" path="/" type="code"/>
    </runtime>
</plugin>