<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.gigabase.GigaBaseServiceImpl"
        id="gigabase.com" vendor="tong2shot" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?gigabase\.com/.+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="gigabase.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="gigabase.com" path="/" type="code"/>
    </runtime>
</plugin>