<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="dataup.de" version="0.5.1" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.dataup.DataUpServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?dataup\.(de|to)/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="dataup.de"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="dataup.de" path="/" type="code"/>
    </runtime>
</plugin>