<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.warservercz.WarServerCzServiceImpl"
        id="warserver.cz" vendor="tong2shot+birchie" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?warserver\.cz/.+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="warserver.cz"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com"
                plugin-version="1.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="warserver.cz" path="/" type="code"/>
    </runtime>
</plugin>