<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="linksavegroup.in" version="1.0" vendor="Arthur Gunawan"
        class="cz.vity.freerapid.plugins.services.linksavegroup.LinksaveGroupServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?linksave\.in/[a-z0-9]{22}"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="linksavegroup.in"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="linksavegroup.in" path="/" type="code"/>
    </runtime>
</plugin>