<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.filesmail.FilesMailServiceImpl"
        id="files.mail.ru" vendor="birchie" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://((www\.)?files.mail|download.+?\.files\.attachmail)\.ru/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="files.mail.ru"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="files.mail.ru" path="/" type="code"/>
    </runtime>
</plugin>