<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.blogspot.BlogSpotServiceImpl" id="blogspot.com" vendor="Alex" version="0.1.4">
    <attributes>
        <attribute id="urlRegex" value="http://[0-9]\.bp\.blogspot\.com/.+s1600-h/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="blogspot.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="blogspot.com" path="/" type="code"/>
    </runtime>
</plugin>
