<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="blogspot.com" version="0.1" vendor="Alex"
        class="cz.vity.freerapid.plugins.services.blogspot.BlogSpotServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://[0-9]\.bp\.blogspot\.com/.+s1600-h/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.809"/>
        <attribute id="services" value="blogspot.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="blogspot.com" path="/" type="code"/>
    </runtime>
</plugin>