<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.freevideo.FreeVideoServiceImpl"
        id="freevideo.cz" vendor="JPEXS+Abinash Bishoyi" version="1.0.5">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?freevideo\.cz/vase-videa/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="freevideo.cz"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="freevideo.cz" path="/" type="code"/>
    </runtime>
</plugin>
