<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.slingfile.SlingFileServiceImpl" id="slingfile.com"
        vendor="TommyTom+ntoskrnl" version="1.0.6">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?slingfile\.com/(dl|file)/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="slingfile.com"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="slingfile.com" path="/" type="code"/>
    </runtime>
</plugin>
