<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.linkbucks.LinkBucksServiceImpl"
        id="linkbucks.com" vendor="Vity+ntoskrnl" version="1.1.14">
    <attributes>
        <attribute id="urlRegex"
                   value="http://[0-9a-z]+?\.((linkbucks\.com)|(any\.gs)|(baberepublic\.com)|(blahetc\.com)|(dyo\.gs)|(filesonthe\.net)|(goneviral\.com)|(linkgalleries\.net)|(linkseer\.net)|(megaline\.co)|(miniurls\.co)|(picturesetc\.net)|(placepictures\.com)|(qqc\.co)|(qvvo\.com)|(realfiles\.net)|(seriousdeals\.net)|(seriousfiles\.com)|(seriousurls\.com)|(thatsprime\.com)|(theseblogs\.com)|(thesefiles\.com)|(theseforums\.com)|(thesegalleries\.com)|(thosegalleries\.com)|(tinybucks\.net)|(tinylinks\.co)|(tubeviral\.com)|(uberpicz\.com)|(ubervidz\.com)|(ubucks\.net)|(ugalleries\.net)|(ultrafiles\.net)|(urlbeat\.net)|(urlpulse\.net)|(viraldatabase\.com)|(whackyvidz\.com)|(youfap\.com)|(yyv\.co)|(zxxo\.net))/?"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="linkbucks.com"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
        <attribute id="maxDownloads" value="10"/>
    </attributes>

    <runtime>
        <library id="linkbucks.com" path="/" type="code"/>
    </runtime>
</plugin>
