<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="hotfilefolder" version="0.1" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.hotfilefolder.HotFileFolderServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://.*?hotfile\.com/list/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="hotfilefolder"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hotfilefolder" path="/" type="code"/>
    </runtime>
</plugin>