<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="quickshare.cz" version="1.0.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.quickshare.QuickshareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?quickshare\.cz/.*"/>
        <attribute id="minver" value="0.7"/>
        <attribute id="maxver" value="0.799"/>
        <attribute id="services" value="quickshare.cz"/> 
    </attributes>


    <runtime>
        <library id="quickshare.cz" path="/" type="code"/>
    </runtime>
</plugin>