<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.quickshare.QuickshareServiceImpl" id="quickshare.cz" vendor="Lukiz" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?quickshare\.cz/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="quickshare.cz"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>


    <runtime>
        <library id="quickshare.cz" path="/" type="code"/>
    </runtime>
</plugin>
