<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.myrapidlinks.MyRapidLinksServiceImpl"
        id="myrapidlinks.com" vendor="birchie" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?myrapidlinks\.com/.+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="myrapidlinks.com"/>
        <attribute id="maxDownloads" value="100"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="myrapidlinks.com" path="/" type="code"/>
    </runtime>
</plugin>