<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="nahraj.cz" version="0.6" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.nahraj.NahrajServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?nahraj\.cz/content/(dw|download)/.+"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="nahraj.cz"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="nahraj.cz" path="/" type="code"/>
    </runtime>
</plugin>