<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.jandown.JandownServiceImpl" id="jandown.com" vendor="Alex" version="0.1.3">
    <attributes>
        <attribute id="urlRegex" value="http://[0-9a-z\-]+\.jandown\.com/link\.php\?ref\=.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="jandown.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="jandown.com" path="/" type="code"/>
    </runtime>
</plugin>
