<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="webshare.net" version="0.5" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.webshare.WebShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?web-share\.net/download/file/item/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="webshare.net"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="webshare.net" path="/" type="code"/>
    </runtime>
</plugin>