<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.bitshare_premium.BitShareServiceImpl"
        id="bitshare.com_premium" vendor="ntoskrnl" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?bitshare\.com/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="bitshare.com"/>
        <attribute id="maxDownloads" value="100"/>
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="bitshare.com_premium" path="/" type="code"/>
    </runtime>
</plugin>