<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.streamin.StreaminServiceImpl"
        id="streamin.to" vendor="birchie" version="1.1.0">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?streamin\.to/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="streamin.to"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.13"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="streamin.to" path="/" type="code"/>
    </runtime>
</plugin>