<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.tv6play.Tv6PlayServiceImpl"
        id="tv6play.se" vendor="ntoskrnl" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?tv[368]play\.se/play/\d+(/.*)?"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="tv3play.se tv6play.se tv8play.se"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.0"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="tv6play.se" path="/" type="code"/>
    </runtime>
</plugin>