<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.shareapicnet.ShareapicnetServiceImpl" id="shareapic.net" vendor="Alex" version="0.1.2">
    <attributes>
        <attribute id="urlRegex" value="http://[0-9a-z\-]+\.shareapic\.net/content\.php.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="shareapic.net"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="shareapic.net" path="/" type="code"/>
    </runtime>
</plugin>
