<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="oron.com" version="1.0.8" vendor="Thumb+JPEXS"
        class="cz.vity.freerapid.plugins.services.oron.OronServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?oron\.com/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="oron.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import plugin-id="recaptcha.com" plugin-version="1.0" match="greater-or-equal"/>
    </requires>
    <runtime>
        <library id="oron.com" path="/" type="code"/>
    </runtime>
</plugin>