<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="RapidShare.com" version="1.1.7" vendor="Vity+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.rapidshare.RapidShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="https?://((www\.)|(rs[0-9]+\.))?rapidshare\.com/files/[0-9]+/.*"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="rapidshare.com"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="resumeSupported" value="false"/>
    </attributes>

    <runtime>
        <library id="rapidshare.com" path="/" type="code"/>
    </runtime>
</plugin>