<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="ifolder.ru" version="1.0.4" vendor="JPEXS"
        class="cz.vity.freerapid.plugins.services.ifolder.IFolderServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?(.*\.)?ifolder\.ru/[0-9]+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="ifolder.ru"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="ifolder.ru" path="/" type="code"/>
    </runtime>
</plugin>