<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.wikiupload.WikiuploadServiceImpl" id="wikiupload.com" vendor="Arthur Gunawan" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?wikiupload\.com/(middle_page|download_page).+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="wikiupload.com"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="wikiupload.com" path="/" type="code"/>
    </runtime>
</plugin>
