<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="rtmp" version="1.0.0" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.rtmp.RtmpServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="XYrtmp.?XY://XY.+"/>
        <attribute id="minver" value="0.849"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="rtmp"/>
        <attribute id="maxDownloads" value="0"/>
        <!--<attribute id="faviconImage" value="resources/favicon.png"/>-->
    </attributes>

    <runtime>
        <library id="rtmp" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>