<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="lix.in" version="0.1" vendor="Alex"
        class="cz.vity.freerapid.plugins.services.lixin.LixinServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://lix\.in/[0-9a-z\-]+"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.82"/>
        <attribute id="services" value="lix.in"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="lix.in" path="/" type="code"/>
    </runtime>
</plugin>