<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="cramit.in" version="1.0.4" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.cramit.CramitServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?cramit.in/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="cramit.in"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import plugin-id="recaptcha.com" plugin-version="1.0" match="greater-or-equal"/>
    </requires>
    <runtime>
        <library id="cramit.in" path="/" type="code"/>
    </runtime>
</plugin>