<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="uploaded.to" version="1.0.1" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.uploadedto.UploadedToShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?uploaded\.to/.*"/>
        <attribute id="minver" value="0.7"/>
        <attribute id="maxver" value="0.799"/>
        <attribute id="services" value="uploaded.to"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="uploaded.to" path="/" type="code"/>
    </runtime>
</plugin>