<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.mog.MogServiceImpl"
        id="mog.com" vendor="tong2shot" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?mog\.com/(m#)?(album|track)/\d+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="mog.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.0"
                reverse-lookup="false"/>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="tunlr.net" plugin-version="1.0.0"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="mog.com" path="/" type="code"/>
    </runtime>
</plugin>