<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="teradepot.com" version="1.0.0" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.teradepot.TeraDepotServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?teradepot\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="teradepot.com"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="teradepot.com" path="/" type="code"/>
    </runtime>
</plugin>