<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="shareonline.biz" version="1.1" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.shareonline.ShareonlineShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?share-online\.biz/.*"/>
        <attribute id="minver" value="0.7"/>
        <attribute id="maxver" value="0.799"/>
        <attribute id="services" value="share-online.biz"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="shareonline.biz" path="/" type="code"/>
    </runtime>
</plugin>