<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="hellspy.com" version="1.0.5" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.hellspy.HellSpyServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://([a-z]+?\.)?hellspy\.([a-z]{2,3})/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="hellspy.com"/>
        <attribute id="maxDownloads" value="100"/>
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hellspy.com" path="/" type="code"/>
    </runtime>
</plugin>