<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.up_file.UpFileServiceImpl" id="up-file.com" vendor="Thumb" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?up-file\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="up-file.com"/>
    </attributes>

    <runtime>
        <library id="up-file.com" path="/" type="code"/>
    </runtime>
</plugin>
