<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="filebase.to" version="1.0.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.filebaseto.FilebaseToServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filebase\.to/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="filebase.to"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="filebase.to" path="/" type="code"/>
    </runtime>
</plugin>