<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="letitbit.net" version="1.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.letitbit.LetitbitShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?letitbit\.net/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="letitbit.net"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="letitbit.net" path="/" type="code"/>
    </runtime>
</plugin>