<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.LibraryPlugin"
        id="xfilesharing" vendor="tong2shot+ntoskrnl+birchie" version="1.0.11">
    <attributes>
        <attribute id="libraryPlugin" value="true"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="xfilesharing"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com"
                plugin-version="1.0" reverse-lookup="false"/>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="solvemediacaptcha"
                plugin-version="1.0.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="xfilesharing" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>