<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.bbc.BbcServiceImpl"
        id="bbc.co.uk" vendor="ntoskrnl+tong2shot" version="1.2.2">
    <attributes>
    <attribute id="urlRegex" value="http://(www\.)?bbc\.co\.uk/(iplayer|i|programmes)/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="bbc.co.uk"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.13"
                reverse-lookup="false"/>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="tor" plugin-version="1.0.0"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="bbc.co.uk" path="/" type="code"/>
    </runtime>
</plugin>
