<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.yunfile.YunFileServiceImpl"
        id="yunfile.com" vendor="Stan+tong2shot" version="1.0.18">
<attributes>
        <attribute id="urlRegex" value="http://(.*?\.)?(yunfile|yfdisk|filemarkets)\.com/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="yunfile.com yfdisk.com filemarkets.com"/>
        <attribute id="maxDownloads" value="999"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="yunfile.com" path="/" type="code"/>
    </runtime>
</plugin>