<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.googledocs.GoogleDocsServiceImpl"
        id="googledocs.com" vendor="tong2shot" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?(docs|drive)\.google\.com/file/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="docs.google.com drive.google.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="docs.google.com" path="/" type="code"/>
    </runtime>
</plugin>
