<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="egoshare.com" version="1.1"
        class="cz.vity.freerapid.plugins.services.egoshare.EgoshareShareServiceImpl">
    <runtime>
        <library id="egoshare.com" path="/" type="code"/>
    </runtime>
</plugin>