<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.toshared.ToSharedServiceImpl"
        id="2shared.com" vendor="Tiago Hillebrandt+ntoskrnl" version="1.0.15">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?2shared\.com/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="2shared.com"/>
        <attribute id="maxDownloads" value="2"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="2shared.com" path="/" type="code"/>
    </runtime>
</plugin>
