<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="2shared.com" version="1.0.2" vendor="Tiago Hillebrandt+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.toshared.ToSharedServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?2shared\.com/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="2shared.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="2shared.com" path="/" type="code"/>
    </runtime>
</plugin>
