<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="protect-my-links.com" version="1.0.0" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.protectmylinks.ProtectMyLinksServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?protect-my-links\.com/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="protect-my-links.com"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="removeCompleted" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="protect-my-links.com" path="/" type="code"/>
    </runtime>
</plugin>