<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="mimima.com" version="1.0" vendor="Alex"
        class="cz.vity.freerapid.plugins.services.mimima.MimimaServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://[0-9a-z\-]+\.mimima\.com/.+"/>
        <attribute id="minver" value="0.81"/>
        <attribute id="maxver" value="0.82"/>
        <attribute id="services" value="mimima.com"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="mimima.com" path="/" type="code"/>
    </runtime>
</plugin>