<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="duckload.com" version="1.0.4" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.duckload.DuckLoadServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?duckload\.com/download/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="duckload.com"/>
        <attribute id="maxDownloads" value="4"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="duckload.com" path="/" type="code"/>
    </runtime>
</plugin>