<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="shareator.com" version="1.0.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.shareator.ShareatorServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?shareator\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="shareator.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="shareator.com" path="/" type="code"/>
    </runtime>
</plugin>