<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.hollywoodtuna.HollywoodtunaServiceImpl" id="hollywoodtuna.com" vendor="Alex" version="0.1.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?hollywoodtuna\.com/photo(_gallery)?\.php.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="hollywoodtuna.com"/>
        <attribute id="maxDownloads" value="3"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hollywoodtuna.com" path="/" type="code"/>
    </runtime>
</plugin>
