<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.filearning.FilearningServiceImpl"
        id="filearning.com" vendor="Tommy" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filearning\.com/.+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="filearning.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="filearning.com" path="/" type="code"/>
    </runtime>
</plugin>