<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.relink.RelinkServiceImpl"
        id="relink.us" vendor="benpicco+ntoskrnl" version="2.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?relink\.us/(f/|(view|container_captcha)\.php\?id=).+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="relink.us"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="removeCompleted" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="container"
                plugin-version="1.0.9" reverse-lookup="false"/>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="circlecaptcha"
                plugin-version="1.0.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="relink.us" path="/" type="code"/>
    </runtime>
</plugin>
