<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.radikalru.RadikalruShareServiceImpl" id="radikal.ru" vendor="Alex+tong2shot" version="1.0.2">
    <attributes>
        <attribute id="urlRegex" value="(http://[0-9a-z]+\.radikal\.ru/.+?[^t]\.jpg$)|(http://radikal\.ru/.+?\.jpg\.html$)|(http://foto\.radikal\.ru/f\.aspx.+)"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="radikal.ru"/>
        <attribute id="maxDownloads" value="3"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="radikal.ru" path="/" type="code"/>
    </runtime>
</plugin>
