<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.uploading.UploadingServiceImpl" id="uploading.com"
        vendor="Whole team" version="1.6.9">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?uploading\.com/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="uploading.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="uploading.com" path="/" type="code"/>
    </runtime>
</plugin>
