<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.thefilebay.TheFileBayServiceImpl"
        id="thefilebay.com" vendor="birchie" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="https?://(www\.)?thefilebay\.com/.+"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="thefilebay.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="thefilebay.com" path="/" type="code"/>
    </runtime>
</plugin>