<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="co.cc" version="1.0" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.co.CoServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(.*?)co\.cc/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="co.cc"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.gif"/>
    </attributes>

    <runtime>
        <library id="co.cc" path="/" type="code"/>
    </runtime>
</plugin>