<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.kewlshare.KewlshareServiceImpl" id="kewlshare.com" vendor="Arthur Gunawan" version="1.4.4">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?kewlshare\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="kewlshare.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="kewlshare.com" path="/" type="code"/>
    </runtime>
</plugin>
