<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="kewlshare.com" version="0.2" vendor="Alex"
        class="cz.vity.freerapid.plugins.services.kewlshare.KewlshareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?kewlshare\.com/dl/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.809"/>
        <attribute id="services" value="kewlshare.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="kewlshare.com" path="/" type="code"/>
    </runtime>
</plugin>
