<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.onefichier.OneFichierServiceImpl"
        id="1fichier.com" vendor="birchie" version="1.0.4">
    <attributes>
        <attribute id="urlRegex" value="http://\w+\.(1fichier|desfichiers)\.com.*"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="1fichier.com desfichiers.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="1fichier.com" path="/" type="code"/>
    </runtime>
</plugin>