<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="turbobit.net" version="1.2" vendor="Thumb+Arthur+RickCL"
        class="cz.vity.freerapid.plugins.services.turbobit.TurboBitServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?turbobit\.net/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="tubobit.net"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="2"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="turbobit.net" path="/" type="code"/>
    </runtime>
</plugin>