<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.turbobit.TurboBitServiceImpl" id="turbobit.net" vendor="Thumb+Arthur+RickCL+ntoskrnl" version="1.3.14">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?turbobit\.net/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="turbobit.net"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com" plugin-version="1.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="turbobit.net" path="/" type="code"/>
    </runtime>
</plugin>
