<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="linksave.in" version="2.0.2" vendor="Arthur+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.linksave.LinksaveServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?linksave\.in/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="linksave.in"/>
        <attribute id="maxDownloads" value="9"/>
        <attribute id="removeCompleted" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="linksave.in" path="/" type="code"/>
    </runtime>
</plugin>