<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="imageshack.us" version="1.0.4" vendor="ntoskrnl"
        class="cz.vity.freerapid.plugins.services.imageshack.ImageShackServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(img\d+?\.imageshack\.us/(i/|my\.php\?).+|yfrog\.com/[a-z\d]+)"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="imageshack.us"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="imageshack.us" path="/" type="code"/>
    </runtime>
</plugin>