<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.twitchtv.TwitchTvServiceImpl"
        id="twitch.tv" vendor="tong2shot" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="(http://(.+?\.)?(twitch|justin)\.tv/.+?/b/\d+)|(http://.*?media\d+\.justin\.tv/archives/.+?/.+?\..{3}.*)"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="twitch.tv justin.tv"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="twitch.tv" path="/" type="code"/>
    </runtime>
</plugin>