<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.bebasupload.BebasUploadServiceImpl" id="bebasupload.com" vendor="Arthur Gunawan" version="1.2.4">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?bebasupload\.com/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="bebasupload.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
        <attribute id="resumeSupported" value="true"/>
    </attributes>

    <runtime>
        <library id="bebasupload.com" path="/" type="code"/>
    </runtime>
</plugin>
