<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.bebasupload.BebasUploadServiceImpl" id="bebasupload.com" vendor="Arthur Gunawan+tong2shot" version="1.2.5">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?bebasupload\.com/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="bebasupload.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="premium" value="false"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="recaptcha.com"
                plugin-version="1.0" reverse-lookup="false"/>
    </requires>

    <runtime>
        <library id="bebasupload.com" path="/" type="code"/>
    </runtime>
</plugin>
