<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="hellshare.com" version="1.0.7" vendor="Lukiz + Smisek"
        class="cz.vity.freerapid.plugins.services.hellshare.HellshareServiceImpl">
    <attributes>
        <attribute id="urlRegex"
                   value="http://(www\.)?hellshare\.com/.+|http://(download\.[a-z]+\.)?hellshare\.com/.+|http://download\.hellshare\.hu/.+|http://download\.hellshare\.sk/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="hellshare.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hellshare.com" path="/" type="code"/>
    </runtime>
</plugin>