<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="filesend.net" version="1.2.1" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.filesend.FileSendServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filesend\.net/download.php.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="filesend.net"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="filesend.net" path="/" type="code"/>
    </runtime>
</plugin>