<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="localhost" version="1.0" vendor="Vity"
        class="cz.vity.freerapid.plugins.services.localhost.LocalhostServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?localhost/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="localhost"/>
        <!--<attribute id="faviconImage" value="resources/favicon.png"/>-->
    </attributes>

    <runtime>
        <library id="localhost" path="/" type="code"/>
    </runtime>
</plugin>