<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.uploads.UploadsServiceImpl"
        id="uploads.ws" vendor="birchie" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?(uploads\.ws|upl\.me)/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="uploads.ws upl.me"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="uploads.ws" path="/" type="code"/>
    </runtime>
</plugin>