<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.movsharenet.MovShareNetServiceImpl"
        id="movshare.net" vendor="tong2shot" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?movshare\.net/video/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="movshare.net"/>
        <attribute id="maxDownloads" value="5"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="movshare.net" path="/" type="code"/>
    </runtime>
</plugin>