<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="4upload.ru" version="0.1" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.fourupload.FourUploadFilesShareServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?4upload\.ru/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="4upload.ru"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <runtime>
        <library id="4upload.ru" path="/" type="code"/>
    </runtime>
</plugin>