<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.files.FilesServiceImpl" id="files.fm" vendor="Arthur Gunawan" version="1.2.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?files\.fm/file/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="files.fm"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="files.fm" path="/" type="code"/>
    </runtime>
</plugin>
