<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="mediafire.com" version="1.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.mediafire.MediafireServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?mediafire\.com/.+"/>
        <attribute id="minver" value="0.8"/>
        <attribute id="maxver" value="0.809"/>
        <attribute id="services" value="mediafire.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="mediafire.com" path="/" type="code"/>
    </runtime>
</plugin>