<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.gigasize_premium.GigaSizeServiceImpl"
        id="gigasize.com_premium" vendor="ntoskrnl" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?gigasize\.com/get/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="gigasize.com"/>
        <attribute id="maxDownloads" value="100"/>
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="gigasize.com_premium" path="/" type="code"/>
    </runtime>
</plugin>