<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="cryptography" version="1.0" vendor="bouncycastle.org"
        class="cz.vity.freerapid.plugins.LibraryPlugin">
    <attributes>
        <attribute id="minver" value="0.849"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="cryptography"/>
    </attributes>

    <runtime>
        <library id="cryptography.com" path="/" type="code">
            <export prefix="cz.*"/>
        </library>
    </runtime>
</plugin>