<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="u.115.com" version="1.0.0" vendor="Meow"
        class="cz.vity.freerapid.plugins.services.u115.u115ServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://u\.115\.com/file/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="u.115.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="20"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="u.115.com" path="/" type="code"/>
    </runtime>
</plugin>