<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="enterupload.com" version="0.4.2" vendor="Alex+Vity"
        class="cz.vity.freerapid.plugins.services.enterupload.EnteruploadServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)enterupload\.com/.*"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="enterupload.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="enterupload.com" path="/" type="code"/>
    </runtime>
</plugin>
