<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plunder.com" version="0.5.1" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.plunder.PlunderServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?plunder\.com/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="plunder.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="plunder.com" path="/" type="code"/>
    </runtime>
</plugin>