<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="unibytes.com" version="1.0.9" vendor="RickCL"
        class="cz.vity.freerapid.plugins.services.unibytes.UnibytesServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://.*?unibytes\.com/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="unibytes.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="unibytes.com" path="/" type="code"/>
    </runtime>
</plugin>