<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.videocopilotnet.VideoCoPilotNetServiceImpl"
        id="videocopilot.net" vendor="tong2shot" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(.+?)?videocopilot\.net/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="videocopilot.net"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="videocopilot.net" path="/" type="code"/>
    </runtime>
</plugin>