<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.qjwm.QjwmServiceImpl"
        id="qjwm.com" vendor="Tommy" version="1.0.4">
    <attributes>
        <attribute id="urlRegex" value="http://(.+?\.)?(qjwm)\.com/.+"/>
        <attribute id="minver" value="0.853"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="qjwm.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="xfilesharing"
                plugin-version="1.0.4" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="qjwm.com" path="/" type="code"/>
    </runtime>
</plugin>
