<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="disperseit.com" version="1.0" vendor="Eterad"
        class="cz.vity.freerapid.plugins.services.disperseit.DisperseiTServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?disperseit\.com/view/.+"/>
        <attribute id="minver" value="0.82"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="disperseit.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="disperseit.com" path="/" type="code"/>
    </runtime>
</plugin>