<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="load.to" version="1.0" vendor="Lukiz"
        class="cz.vity.freerapid.plugins.services.loadto.LoadToServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?load\.to/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="load.to"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="load.to" path="/" type="code"/>
    </runtime>
</plugin>