<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.multiload.MultiloadServiceImpl" id="multiload.cz" vendor="Vity+JPEXS" version="1.3.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?multiload\.cz/.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="multiload.cz"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="multiload.cz" path="/" type="code"/>
    </runtime>
</plugin>
