<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="xun6.com" version="1.0" vendor="JPEXS"
        class="cz.vity.freerapid.plugins.services.xun6.XUN6ServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?xun6\.com/file/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="xun6.com"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="xun6.com" path="/" type="code"/>
    </runtime>
</plugin>