<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.tunescoop.TuneScoopServiceImpl" id="tunescoop.com"
        vendor="ntoskrnl+tonyk" version="1.0.3">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?tunescoop\.com/play/.+"/>
        <attribute id="minver" value="0.851"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="tunescoop.com"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="tunescoop.com" path="/" type="code"/>
    </runtime>
</plugin>
