<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.idup.iDupServiceImpl"
        id="idup.in" vendor="birchie" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?idup\.in/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="idup.in"/>
        <attribute id="maxDownloads" value="5"/>
        <attribute id="defaultDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="xfilesharing"
                plugin-version="1.0.0" reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="idup.in" path="/" type="code"/>
    </runtime>
</plugin>