<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="extabit.com" version="1.0.3" vendor="Thumb+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.extabit.ExtabitServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?extabit\.com/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="extabit.com"/>
        <!-- max count of parallel downloads, has to be set in ServiceImpl too -->
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="extabit.com" path="/" type="code"/>
    </runtime>
</plugin>