<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="filesonic.com" version="1.0.5" vendor="JPEXS+ntoskrnl"
        class="cz.vity.freerapid.plugins.services.filesonic.FileSonicServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?filesonic\.com/([^/]+/)?file/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="filesonic.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import plugin-id="recaptcha.com" plugin-version="1.0" match="greater-or-equal"/>
    </requires>
    <runtime>
        <library id="filesonic.com" path="/" type="code"/>
    </runtime>
</plugin>