<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="hotfile.com_premium" version="1.0.2" vendor="ntoskrnl+piramix"
        class="cz.vity.freerapid.plugins.services.hotfile_premium.HotFileServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://.*?hotfile\.com/(dl|links)/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.849"/>
        <attribute id="services" value="hotfile.com"/>
        <attribute id="maxDownloads" value="100"/>
        <attribute id="premium" value="true"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="hotfile.com_premium" path="/" type="code"/>
    </runtime>
</plugin>