<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="rapidshare.de" version="0.6" vendor="Kajda"
        class="cz.vity.freerapid.plugins.services.rapidsharede.RapidShareDeServiceImpl">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?rapidshare\.de/files/.+"/>
        <attribute id="minver" value="0.83"/>
        <attribute id="maxver" value="0.82"/>
        <attribute id="services" value="rapidshare.de"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="rapidshare.de" path="/" type="code"/>
    </runtime>
</plugin>