<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.megaupload.MegauploadShareServiceImpl"
        id="megaupload.com" vendor="Lukiz+JPEXS+daniol+ntoskrnl" version="2.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?(megaupload|megarotic|megaporn|sexuploader)\.com/\?[df]=.+"/>
        <attribute id="minver" value="0.85"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="megaupload.com megaporn.com"/>
        <attribute id="maxDownloads" value="1"/>
        <attribute id="premium" value="false"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="megaupload.com" path="/" type="code"/>
    </runtime>
</plugin>
