<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="megaupload.com" version="1.02"
        class="cz.vity.freerapid.plugins.services.megaupload.MegauploadShareServiceImpl">
    <runtime>
        <library id="megaupload.com" path="/" type="code"/>
    </runtime>
</plugin>