<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.ceskatelevize.CeskaTelevizeServiceImpl"
        id="ceskatelevize.cz" vendor="JPEXS+tong2shot" version="1.3.3">
<attributes>
        <attribute id="urlRegex" value="http://(www\.|decko\.)?ceskatelevize\.cz/.+"/>
        <attribute id="minver" value="0.854"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="ceskatelevize.cz"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>
    <requires>
        <import exported="false" match="greater-or-equal" optional="false" plugin-id="rtmp" plugin-version="2.2.13"
                reverse-lookup="false"/>
    </requires>
    <runtime>
        <library id="ceskatelevize.cz" path="/" type="code"/>
    </runtime>
</plugin>
