<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.ebookee.EbookeeServiceImpl"
        id="ebookee.ws" vendor="Abinash Bishoyi" version="1.0.1">
    <attributes>
        <attribute id="urlRegex" value="http://(www\.)?ebookee\.ws/.+"/>
        <attribute id="minver" value="0.852"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="ebookee.ws"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="ebookee.ws" path="/" type="code"/>
    </runtime>
</plugin>